Source: node2dm
Section: web
Priority: optional
Maintainer: Steffen Zieger <me@saz.sh>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.3
Homepage: https://github.com/Instagram/node2dm
Vcs-Browser: https://github.com/Instagram/node2dm
Vcs-Git: git://github.com/Instagram/node2dm.git

Package: node-node2dm
Architecture: all
Depends: ${misc:Depends}, nodejs
Provides: node2dm
Description: node.js server for push notifications to Google's C2DM
 Written by Instagram to support our Android application,
 and inspired by statsd's protocol.
